/* він “вирівнює” стандартні стилі браузера, щоб сайт виглядав однаково в Chrome/Edge/Firefox */
*{box-sizing:border-box}
html,body{height:100%}
body{margin:0}
svg{max-width:100%;display:block}
button,input{font:inherit}
a {color:inherit}

